<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" href="/app.css" />
  </head>

  <body>
    <h1>Edit Sunset Page</h1>
    <form action="/images/<%=images.id%>?_method=PUT" method="POST">
      Title: <input type="text" name="title" value="<%=images.title%>" /><br />
      Image: <input type="text" name="url" value="<%=images.url%>" /><br />

      <br />
      <input type="submit" name="" value="Add Sunset" />
    </form>
  </body>
</html>
