<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/imagesindex.css" />
    <title>Sunset Collection!!</title>
  </head>
  <body>
    <h1>The Sunset Gallery!</h1>
    <a href="/images/new">Submit a new image to our Gallery</a>
    <br />
    <br />
    <a href="/">Take Me Home...</a>
    <ul class="sunsets">
      <% for (let i = 0; i < images.length; i++) { %>
      <li><a href="/images/<%= images[i].id%>"><%= images[i].title %></a></li>
      <img src="<%= images[i].url%>" alt="" />
      <br /><br />
      <% } %>
    </ul>
  </body>
</html>
