<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" type="text/css" href="/app.css" />
  <link rel="icon" href="https://img.icons8.com/fluent/48/000000/sunset.png">

  <title>Sunset Collection!!</title>
</head>

<body>
  <h1>The Gallery!</h1>
  <ul class="sunsets" style="list-style: none;">
    <% for (let i = 0; i < images.length; i++) { %>
    <li><a href="/images/<%= images[i].id%>"><%= images[i].title %></a></li>
    <img src="<%= images[i].url%>" alt="" />
    <br /><br />
    <% } %>
  </ul>
  <div>
    <form action="/images/new/">
      <input type="submit" value="Submit New Image" />
    </form>

    <form action="/">
      <input type="submit" value="Take me Home!" />
    </form>
  </div>
</body>

</html>