<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" type="text/css" href="/imagesindex.css" />
  <link rel="icon" href="https://img.icons8.com/fluent/48/000000/sunset.png">

  <title>Sunset Collection!!</title>
</head>

<body>
  <h1>The Gallery!</h1>
  <ul class="sunsets" style="list-style: none;">
    <% for (let i = 0; i < images.length; i++) { %>
    <li><a href="/images/<%= images[i].id%>"><%= images[i].title %></a></li>
    <img src="<%= images[i].url%>" alt="" />
    <br /><br />
    <% } %>
  </ul>
  <div>
    <button id="new">
      <a href="/images/new">Add a new Sunset Picture</a>
    </button>

    <button id="all"><a href="/">Return Home</a></button>
  </div>
</body>

</html>