<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" href="/app.css" />
  </head>

  <body>
    <h1>New Sunset Page</h1>
    <form action="/images" method="POST">
      Title: <input type="text" name="title" /><br />
      Sunset URL: <input type="text" name="url" /><br />
      Location: <input type="text" name="location" /><br />
      Description of Sunset: <input type="text" name="desc" /><br />
      <input type="submit" name="" value="Sunset" />
    </form>
  </body>
</html>
