<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title></title>
  <link rel="stylesheet" href="/app.css" />
  <link rel="icon" href="https://img.icons8.com/fluent/48/000000/sunset.png">
</head>

<body>
  <h1>Sunset Creations...</h1>
  <form action="/images" method="POST" enctype="multipart/form-data">
    Title: <input type="text" name="title" /><br />
    Location: <input type="text" name="location" /><br />
    Description of Sunset: <input type="text" name="desc" /> <br />
    <input type="hidden" name="userId" value=<%=userId%> />
    <br />
    <input type="file" name="image" />
    <input type="submit" name="" value="Add New Sunset" />
  </form>
  <button id="all"><a href="/">Return Home</a></button>
</body>

</html>