
body {
  color: black;
  background-image: url(https://res.cloudinary.com/do6js4ole/image/upload/v1596488787/background_r9mjvf.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
 }
img {
  width: 800px;
  height: auto;
  align-content: center;
  border-radius: 50px;
 border: black, 50px;
}
#homeimg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 35%;
  height: 35%;
  border: black;
}
h1 {
  text-align: center;
  font-family: cursive;
  font-size: xx-large;
}
h3 {
  text-align: center;
  font-family: cursive;
}
div {
  position: absolute;
  right: 325px;
  width: 300px;
  padding: 10px;

}
button {
  display: inline-block;
  padding: 0.3em 1.2em;
  margin: 0 0.3em 0.3em 0;
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: black;
  background-color: #eaf6f4;
  text-align: center;
  transition: all 0.2s;
  position: relative;
}
#sign {
  margin-left: 850px;
  
}

nav {
  align-items: center;
}