/* * {
  box-sizing: border-box;
} */
/* .sunsets {
  display: flex;
} */
h1 {
  font-family: cursive;
  text-align: center;
  
}
body {
  color: black;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(https://res.cloudinary.com/do6js4ole/image/upload/v1596488787/background_r9mjvf.jpg);
}
img {
  width: 200px;
  height: 200px;
  align-content: center;
  border-radius: 100px;
  }
ul {
  display:flexbox;
  flex-direction: row;
  flex-wrap: wrap;


}