* {
  box-sizing: border-box;
}
/* .sunsets {
  display: flex;
} */

body {
  color: black;
  background-color: yellow;
  background-size: cover;
  background-repeat: no-repeat;
}
img {
  width: 200px;
  height: auto;
  align-content: center;
  border-radius: 100px;
}
