<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" type="text/css" href="/app.css" />
  <link rel="icon" href="https://img.icons8.com/fluent/48/000000/sunset.png">
  <title>Sunset Collection!!</title>
</head>

<body>
  <nav>
    <form action="/auth/login">
      <input type="submit" value="LOGIN" />
    </form>
    <form action="/auth/logout">
      <input type="submit" value="LOGOUT" />
    </form>
    <form action="/auth/signup">
      <input type="submit" value="SIGNUP" />
    </form>
  </nav>
  <h1>The Sunset Connection...Welcome!!</h1>
  <h3>The place to view and share sunset pictures.</h3>
  <div id="himg">
    <img src="https://res.cloudinary.com/do6js4ole/image/upload/v1596486943/thedock_wkzhok.jpg" alt="homepage" />
    <img src="https://res.cloudinary.com/do6js4ole/image/upload/v1596480256/burnett2_cwrsaz.jpg" alt="homepage" />
  </div>
  <div>
    <form action="/images/new/">
      <input type="submit" value="Submit New Image" />
    </form>
    <form action="/images/">
      <input type="submit" value="View The Gallery " />
    </form>
  </div>
</body>

</html>