<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" type="text/css" href="/app.css" />
  <link rel="icon" href="https://img.icons8.com/fluent/48/000000/sunset.png">
  <title>Sunset Collection!!</title>
</head>

<body>
  <nav>
    <button id="sign"><a href="/auth/signup">Sign Up</a></button>
    <button id="login"><a href="/auth/login">Log In</a></button>
    <button id="logout"><a href="/auth/logout">Log Out</a></button>
  </nav>
  <h1>The Sunset Connection...Welcome!!</h1>
  <h3>A place to view and share sunset pictures.</h3>

  <img id="homeimg" src="https://res.cloudinary.com/do6js4ole/image/upload/v1596486943/thedock_wkzhok.jpg"
    alt="homepage" />

  <div>
    <button id="new">
      <a href="/images/new">Submit New Image</a>
    </button>
    <button id="all"><a href="/images">View Current Gallery</a></button>
  </div>
</body>

</html>